@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #0077B5;
    --cor-terciaria: #FFFFFF;
    --cor-linkedin: #0077B5;
    --cor-github: #FFFFFF;
    --cor-portfolio: #FFFFFF;

    --cor-primaria-active: #FFFFFF;
    --cor-secundaria-active: #e3e3e3;
    --cor-terciaria-active: #000000;
    --cor-linkedin-active: #0077B5;
    --cor-github-active: #000000;
    --cor-portfolio-active: #000000;
}

body {
    background-color: var(--cor-primaria);
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    color: var(--cor-terciaria);
    font-family: 'Inconsolata', monospace;
    /* height: 100vh; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

body.active {
    color: var(--cor-terciaria-active);
    background-color: var(--cor-primaria-active);
    background-image: url(../images/bg-image-white.png);
}

.cabecalho {
    background-color: var(--cor-secundaria);
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top:0;
    z-index: 999;
}

.cabecalho.active {
    background-color: var(--cor-secundaria-active);
}

.organiza_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 953px;
    margin: 0 auto;
    padding: 0 10px;
}

/* .cabecalho__menu {
    margin: 0 auto;
} */

.cabecalho__menu ul{
    display: flex;
    gap: 20px;
}

.cabecalho__menu__link {
    padding: 5px 0;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
}

.cabecalho__menu__link a{
    text-decoration: none;
    transition: 0.2s;
    color: var(--cor-terciaria);
}

.cabecalho.active .cabecalho__menu__link a {
    color: var(--cor-terciaria-active);
}

.cabecalho__menu__link:hover {
    border-bottom: 1px solid var(--cor-terciaria);
}

.cabecalho.active .cabecalho__menu__link:hover {
    border-bottom: 1px solid var(--cor-terciaria-active);
}

.container {
    display: flex;
    align-items: center;
    max-width: 953px;
    /* max-height: 602px; */
    width: 100%;
    /* padding: 5% 0; */
    height: 100vh;
}

.foto_container__foto, .apresentacao, .apresentacao__dados__nome, .apresentacao__dados__atuacao_area, .apresentacao__dados__atuacao_icon, .apresentacao__dados__texto_sobre,.apresentacao__links {
    opacity: 0;
    transition: 0.2s;
}

.foto_container__foto {
    z-index: 1;
    position: relative;
    border:1px solid transparent;
    border-radius: 15px;
}

.foto_container__foto.active {
    border:1px solid var(--cor-terciaria-active);
}

.apresentacao {
    background-color: #1E1E1E;
    background-image: url(../images/txt-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 10px solid var(--cor-secundaria);
    border-bottom: 10px solid var(--cor-secundaria);
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5em 3em;
    margin-left: -451px;
}

.apresentacao.active {
    background-color: var(--cor-primaria-active);
    background-image: url(../images/txt-bg-image-white.png);
}

.apresentacao__dados {
    display: flex;
    flex-direction: column;
}

.apresentacao__dados__nome {
    font-weight: initial;
    font-size: 2.7rem;
    position: relative;
    top: 80px;
}

.apresentacao__dados__atuacao{
    display: flex;
    justify-content: space-between;
}

.apresentacao__dados__atuacao_area {
    color: #6699CC;
    /* font-weight: bold; */
    font-size: 1.6rem;
}

.apresentacao__dados__atuacao_area.active {
    color: #5fc7fd;
}

.apresentacao__dados__atuacao_icon {
    background-image: url(../images/icon-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
}

.apresentacao__dados__atuacao_icon.active {
    background-image: url(../images/icon-code-black.png);
}

.apresentacao p {
    font-size: 1.3rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 20px;
    top: 50px;
    opacity: 0;
}

.apresentacao__links__titulo_redes {
    font-size: 1.3em;
}

.apresentacao__links__titulo_redes.active {
    color: var(--cor-terciaria-active);
}

.apresentacao__links a {
    padding: 10px 0;
    margin: 0 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    border: 1px solid transparent;
    transition: 0.2s;
    width: 60%;
}

.apresentacao__links__portfolio {
    background-color: var(--cor-portfolio);
    color: var(--cor-primaria);
    display: none;
}

.apresentacao__links__portfolio.active {
    background-color: var(--cor-portfolio-active);
    color: var(--cor-primaria-active);
}

.apresentacao__links__linkedin {
    background-color: var(--cor-linkedin);
    color: var(--cor-terciaria);
}

.apresentacao__links__github {
    background-color: var(--cor-github);
    color: var(--cor-primaria);
}

.apresentacao__links__github.active {
    background-color: var(--cor-github-active);
    color: var(--cor-primaria-active);
}

.apresentacao__links a:hover {
    background-color: transparent;
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.apresentacao__links.active a:hover {
    color:var(--cor-terciaria-active) !important;
}

.change_theme__toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 160px;
    background-color: var(--cor-terciaria);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(255, 255, 255, 0.1),
                inset 0 8px 8px rgba(255, 255, 255, 0.1),
                inset 0 -4px 4px rgba(255, 255, 255, 0.1);
}

.change_theme__toggle.active {
    background-color: #444;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.change_theme {
    transition: 0.2s;
    /* position: absolute; */
    /* top: 12px; */
    /* right: 20px; */
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.change_theme__toggle__indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.change_theme__toggle__indicator.active {
    background: linear-gradient(to bottom, #ececec, #c9c9c9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

.change_theme__toggle.active .change_theme__toggle__indicator{
    left: 30px;
}

.moon, .sun {
    color: var(--cor-terciaria);
}

.moon.active, .sun.active {
    color: var(--cor-terciaria-active)0;
}

.rodape {
    background-color: var(--cor-secundaria);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom:0;
    z-index: 999;
}

.rodape.active {
    background-color: var(--cor-secundaria-active);
}

/*PÁGINA ABOUT*/

.apresentacao.about {
    box-sizing: border-box;
    opacity: 1;
    margin-left: 0;
    border-radius: 20px 0 0 20px;
    gap: 20px;
    padding: 2em 1em;
    text-align: left;
}

.apresetacao__titulo {
    font-size: 2.0rem;
    padding: 0 10px;
}

.apresentacao.about p {
    font-size: 1rem;
    padding: 0 10px;
    line-height: 1.3rem;
}

.foto_container__foto.about {
    opacity: 1;
}

/*PÁGINA CURRICULUM*/

.curriculum-container {
    padding:6% 0;
    align-items: flex-start;
    height: 100%;
}

.curriculum-container img {
    max-width: 100%;
    margin-left:10px;
}

.apresentacao.curriculum {
    opacity: 1;
    margin-left: 0;
    border-radius: 20px;
    gap: 20px;
    padding: 2em 2em;
    text-align: left;
    box-sizing: border-box;
}

.apresetacao__titulo {
    font-size: 2.0rem;
    font-weight: bold;
}

.apresetacao__subtitulo {
    font-size: 1.7rem;
    margin: 10px 0;
    font-weight: bold;
    padding: 0 10px;
}

.apresentacao.curriculum li {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.3rem;
}

.apresentacao.curriculum p {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.3rem;
    padding:10px 10px;
}

.apresetacao__texto_sobre strong {
    font-weight: bold;
}

.apresentacao.curriculum a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
}

.foto_container__foto.curriculum {
    opacity: 1;
}

@media (max-width: 1366px) {

    .foto_container {
        height: 80%;
        overflow: hidden;
        border-radius: 20px;
    }

    .apresentacao.about {
        width: 50%;
    }

}

@media (max-width: 1024px) {

    .foto_container {
        height: auto;
    }

}

@media (max-width: 760px) {

    .foto_container {
        overflow: hidden;
        height: 340px;
        text-align: center;
    }

    body {
        justify-content: center;
    }

    .cabecalho, .rodape {
        position: initial;
    }

    .container {
        flex-direction: column;
        padding: 5% 0;
        height: 100%;
    }

    .foto_container__foto {
        width: 80%;
    }

    .apresentacao {
        padding: 2em 0;
        width: 90%;
        border-top: 0;
        border-bottom: 0;
        border-left: 10px solid var(--cor-secundaria);
        border-right: 10px solid var(--cor-secundaria);
        border-radius: 20px 20px;
        align-items: center;
        text-align: center;
        gap: 40px;
        margin-left: 0px;
    }

    .apresentacao__dados__nome {
        top:130px;
    }

    .apresentacao__dados {
        gap: 40px; 
    }

    .apresentacao__dados__atuacao {
        flex-direction: column;
        align-items: center;
        gap: 15px 0;
    }
    
    .apresentacao__links {
        flex-direction: column;
        text-align: center;
        width: 70%;
        gap: 20px;
    }

    .apresentacao__links a {
        width: 100%;
    }

    .change_theme {
        padding: 10px 0;
        position: relative;
        top: 0;
        right: 0;
    }

    .curriculum-container, .about-container {
        padding:2% 0;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .curriculum-container img, .about-container img {
        max-width: 100%;
        /* margin-left:10px; */
    }

    .cabecalho__menu__link a {
        font-size: 0.8rem;
    }
    
    .apresentacao.about {
        border-radius: 20px;
    }

    .apresetacao__texto_sobre {
        width: 100%;
    }
  }